例如，

    A -> 1
    B -> 2
    C -> 3
    ...
    Z -> 26
    AA -> 27
    AB -> 28 
    ...
**示例 1:**  
输入: "A"  
输出: 1  

**示例 2:**  
输入: "AB"  
输出: 28  

**示例 3:**  
输入: "ZY"  
输出: 701

In [1]:
class Solution:
    def titleToNumber(self, s: str) -> int:
        l = len(s)
        numsum = 0
        for i in range(0,l):
            num = ord(s[i])-64
            if l != 1:
                if (l-1-i)!=0:
                    numsum += num*26**(l-1-i)
                else:
                    numsum += num
            else:
                return num
        return numsum
    
#         res = 0
#         for strr in s:
#             res += res * 25 + (ord(strr)-64)
#         return res

In [2]:
test = Solution
txt = 'AA'
test.titleToNumber(test,txt)

27

In [3]:
test = Solution
txt = 'AB'
test.titleToNumber(test,txt)

28

In [4]:
test = Solution
txt = 'ZY'
test.titleToNumber(test,txt)

701

In [5]:
test = Solution
txt = 'AAA'
test.titleToNumber(test,txt)

703