将非负整数转换为其对应的英文表示。可以保证给定输入小于2^31 - 1 。  

**示例 1:**  
**输入**: 123  
**输出**: "One Hundred Twenty Three"  

**示例 2**:  
**输入**: 12345  
**输出**: "Twelve Thousand Three Hundred Forty Five"  

**示例 3:**  
**输入**: 1234567  
**输出**: "One Million Two Hundred Thirty Four Thousand Five Hundred Sixty Seven"  

**示例 4:**  
**输入**: 1234567891  
**输出**: "One Billion Two Hundred Thirty Four Million Five Hundred Sixty Seven Thousand Eight Hundred Ninety One"  

来源：力扣（LeetCode）  
链接：https://leetcode-cn.com/problems/integer-to-english-words  
著作权归领扣网络所有。商业转载请联系官方授权，非商业转载请注明出处。

 10      987     654    321        
billion  million  thousand  hundread

In [2]:
2**31-1

2147483648

In [26]:
2**31%1000,2**31//1000

(648, 2147483)

In [24]:
10//3,10%3

(3, 1)

In [76]:
a= 'asa sadasd  asdasd '

In [86]:
class Solution:
    global digits
    global ten_digits
    global twenty_digits
    digits = ['','One','Two','Three','Four','Five','Six','Seven','Eight','Nine']
    ten_digits = ['Ten','Eleven','Twelve','Thirteen','Fourteen','Fifteen','Sixteen','Seventeen','Eighteen','Nineteen']
    twenty_digits = ['','','Twenty','Thirty','Forty','Fifty','Sixty','Seventy','Eighty','Ninety']
    
    def numberToWords(self, num: int) -> str:
        if num == 0: return 'Zero'
        part1 = num % 1000
        num = num // 1000
        part2 = num % 1000
        num = num // 1000
        part3 = num % 1000
        num = num // 1000
        part4 = num % 1000

        ans = ''
        
        if part4 != 0:
            ans += Solution.three_number_to_str(part4,True)+'Billion '
        if part3 != 0:
            ans += Solution.three_number_to_str(part3,True)+'Million '
        if part2 != 0:
            ans += Solution.three_number_to_str(part2,True)+'Thousand '
        if part1 != 0:
            ans += Solution.three_number_to_str(part1,False)
        ans = ans.replace('  ',' ')
        if ans[-1] == ' ':
            ans = ans[0:-1]
        return ans
    
    def three_number_to_str(num:int,last_space:bool) -> str:
        a = num%10
        num=num//10
        b = num%10
        num=num//10
        c = num%10
        num=num//10
        ans = ''
        if c != 0:
            ans+=digits[c]+ ' Hundred' + ' '
        if b == 1:
            
            ans+=ten_digits[a] + ' '
        elif b > 1:
            ans+=twenty_digits[b] + ' '+digits[a] + ' '
        else:
            ans+=digits[a] + ' '
        return ans

In [87]:
num = 103
test = Solution
test.numberToWords(test,num)

'One Hundred Three'

In [88]:
num = 1234567891
test = Solution
test.numberToWords(test,num)

'One Billion Two Hundred Thirty Four Million Five Hundred Sixty Seven Thousand Eight Hundred Ninety One'

In [89]:
num = 20
test = Solution
test.numberToWords(test,num)

'Twenty'

In [90]:
num = 1000
test = Solution
test.numberToWords(test,num)

'One Thousand'

In [91]:
num = 2000
test = Solution
test.numberToWords(test,num)

'Two Thousand'

In [92]:
num = 10000
test = Solution
test.numberToWords(test,num)

'Ten Thousand'

In [93]:
num = 100000
test = Solution
test.numberToWords(test,num)

'One Hundred Thousand'

In [94]:
num = 1000000
test = Solution
test.numberToWords(test,num)

'One Million'